body{
    background-color: #fe6902;
}


.principal{
    display: inline;
    height: 600px; width: 600px;
    text-align: center;
}

#esquerda img{
    height: 500px; width: 500px;
}

#container,.fb,.fp {
  display: flex;
  gap: 10px; /* Espaço entre as divs */
}

.esquerda, .direita {
  flex: 1; /* Cada div ocupa metade do espaço */
  padding: 20px;
  
}

.fp, .fb, .fl{
    border-radius: 20px 50px 50px 20px;
     
}
.texto{float: left; color: white; text-align: center; font-weight: bold; font-size: 14pt;}
.tb{color: black; text-align: center; font-weight: bold; font-size: 14pt;}
.tp{color: white; text-align: center; font-weight: bold; font-size: 14pt;}

.fp{margin-left: 50px;width: 500px;
    background-color: black; color: white;
}
.fb{padding:2px; width: 450px;
    background-color: white; color: black;
}
.fl{height: 60px;width: 100px; padding-left: 40px;
    background-color: #fe6902; color: white;
}

